$browser-minimum-versions: (
  'chrome':  null,
  'firefox': null,
  'ie':      '11', // The Safari 5-specific rules are also needed for IE 9.
  'safari':  '5',
  'opera':   null
) !global;

@import "normalize";
